:root {
  
    --primary-color: #4085BF   ;
    --secondary-color: #F7F3E8 ;
    --accent1-color: #2575BA;
    --accent2-color: #0E67B5;
  
   
    --heading-font: "Fresca";
    --paragraph-font: roboto, Helvetica, sans-serif;
  
  
    
    --headline-color-on-white: #396E94; 
    --headline-color-on-color: white;  
    --paragraph-color-on-white: #396E94;  
    --paragraph-color-on-color: white; 
    --paragraph-background-color: #396E94  ;
    --nav-link-color: #396E94;
    --nav-background-color: #F7F3E8;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #396E94;
  }
  nav a:hover {
    background-color: #396E94 ;
    
  }
  nav {
text-align: center;
    display: flex;
    justify-content: space-around;
    font-style: oblique;
  }
  header {
    background-color:white;
    display: grid;
    grid-template-columns: auto;}

.logo { width: 300px;
        padding-top: 5px;
        justify-self: left;
        align-self: auto;}

        body {
            background-color: #fcfcfc;
            font-family: Raleway, Arial, sans-serif;
            font-size: 22px;
            margin: 0;
            padding: 0;
          width: 100%; }
          


                        /* small view navigation */
            
                        nav {
                            background-color: #396E94;
                            margin: 0 auto;
                            max-width: 800px;
                        }
                        nav ul {
                            list-style-type: none;
                        }
                        nav a {
                            display: block;
                            color: #fff;
                            text-align: center;
                            padding: 1rem;
                            text-decoration: none;
                        }
                        
                        nav a:hover {
                            border: 1px solid #fff;
                        }
                        
                       
                    
                    nav {
                        max-width: 700px;
                        margin: 1rem auto;
                    }
                    
                    /* small view navigation */
                    body {
                      margin: 0;
                      font-family: Arial, Helvetica, sans-serif;
                    }
            
            .topnav {
              overflow: hidden;
              background-color: #333;
            }
            
            .topnav a {
              float: left;
              display: block;
              color: #f2f2f2;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
              font-size: 17px;
            }
            
            .topnav a:hover {
              background-color: #ddd;
              color: black;
            }
            
            .topnav a.active {
              background-color: #396E94;;
              color: white;
            }
            
            .topnav .icon {
              display: none;
            }
            
            body {
              background: var(--light-0);
              display: block;
              height: 100vh;
              margin: 0;
              place-items: center;
              transition: background 0.3s ease;}
              .dark-mode {
                background-color: black;
                color: white;}
          
            .dark-mode{
              background-color: #0a0a0a;
              color: #ccc;
            }     


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	margin: 0 auto;
	padding: 0.5rem;
	max-width: 700px;
	background-color: #fff;
	font-family: Roboto, Helvetica, sans-serif;
}

.menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #bed;
	text-align: center;
}

.menu button {
	padding: 1rem;
	font-weight: 700;
}

section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #eee;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	align-items: center;
}

.grid section {
	text-align: center;
}

.grid img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
}

.grid section > * {
	margin: 0.1rem;
}

.grid h3 {
	font-family: "Caveat", cursive;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none; /* smaller viewports only */
}

.list section h3 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
	background-color: #bed;
}

section h3 {
	font-size: 1.5rem;
}

section p {
	font-weight: 600;
	font-size: smaller;
}

section a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 0.85rem;
	color: navy;
	letter-spacing: 1.1pt;
}

img {
	height: 75px;
	max-width: 100%; /* Images are jerks - Seattle*/
}

p{
  font-size: 20px;
}



/* Media queries */
@media (max-width: 720px) { 
  .fila {
    justify-content: flex-start;
  }
  .fila .propiedad {
    flex-basis: 100%;
    text-align: left;
    margin-bottom: .3rem;
  }
  :invalid ~ .propiedad:after {
    left: 0;  
  }
}
    @media screen and (max-width: 600px) {
      .topnav a:not(:first-child) {display: none;}
      .topnav a.icon {
      float: right;
      display: block;
      
          }
          main {display: block;}
        }
        
        @media screen and (max-width: 600px) {
          .topnav.responsive {position: relative;}
          .topnav.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
          }
          .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
          }
        }
                  
               
               
              
              
                          
              
                      
              
                      
      
      